<div class="container mx-auto p-4">
      <div class="flex justify-between items-center mb-4">
        <div class="p-input-icon-left w-96">
          <i class="pi pi-search"></i>
          <input 
            type="text" 
            pInputText 
            class="w-full" 
            placeholder="Search communications..."
            [(ngModel)]="searchText"
            (input)="onSearch($event)"
          />
        </div>
          <button 
            pButton 
            label="Create New" 
            icon="pi pi-plus" 
            class="p-button-primary"
            (click)="router.navigate(['/av-communications/create'])"
          ></button>
      </div>

      <p-table 
        [value]="communications" 
        [paginator]="true" 
        [rows]="10"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>SL</th>
            <th>File Name</th>
            <th>Campaign</th>
            <th>Created By</th>
            <th>Created At</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-communication let-i="rowIndex">
          <tr>
            <td>{{i + 1}}</td>
            <td>{{communication.fileName}}</td>
            <td>{{communication.campaign}}</td>
            <td>{{communication.createdBy}}</td>
            <td>{{communication.createdAt | date:'medium'}}</td>
            <td>{{communication.description}}</td>
            <td>
              <button 
                pButton 
                icon="pi pi-eye" 
                class="p-button-rounded p-button-text"
                (click)="router.navigate(['/av-communications/view', communication._id])"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>